@use './variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: variable.$brandColor;
    border: 2px solid yellowgreen;
    color: white;
    padding: 10px 25px;
}


h1,
h2,
h3 {
    color: variable.$brandColor;
    margin-bottom: 20px;
    font-size: $titleSize;
}