  h1,
  h2,
  h3 {
      color: white;
      /*asdadsugasdug */
      background-color: gray;
      font-size: 50px;
      text-decoration: underline;
      /* Internal CSS */
  }

  body {
      background-color: red;
  }